<div class="todo_list_sub_title">
  <h2><%= @house.title %></h2>
  <p class="markdown">
    <%= markdown(@house.description) %>
  </p>
  <% if @house.images.present? %>
    <% @house.images.each do |i| %>
      <%= link_to image_tag(i.url(:small)), i.url %>
    <% end %>
  <% end %>
</div>
<div class="links">
  <%= link_to("Edit", edit_category_house_path(@category))%> |
  <%= link_to("Delete", category_house_path(@category), method: :delete, data: { confirm: "Are you sure?"})%>
</div>
