<%= simple_form_for @diary do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-control"}%>
    <%= f.association :records, :as => :check_boxes %>
    <%= f.input :body, input_html: { class: "form-control"}%>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..."}%>
  </div>
<% end %>
