<h1 class="title">施工日志</h1>

<table class="table table-bordered table-striped">
    <tr>
      <th >
        工程项目名称
      </th>
      <td >
        <%= @diary.title %>
      </td>
      <th >
        日期
      </th>
      <td >
        <%= @diary.city.try(:current_date) %>
      </td>
    </tr>
    <tr>
      <th>
        项目所在地
      </th>
      <td >
        <%= @diary.city.try(:district) %>
      </td>
      <th >
        记录人
      </th>
      <td >
        <% @diary.records.each do |r| %>
          <%= r.name %>\
        <% end %>
      </td>
    </tr>
    <tr>
      <th >
        天气情况
      </th>
      <th >
        风力
      </th>
      <th >
        最高/低温度
      </th>
      <th >
        备注
      </th>
    </tr>
    <tr>
      <td >
        <%= @diary.city.try(:current_weather) %>
      </td>
      <td >
        <%= @diary.city.try(:current_wind) %>
      </td>
      <td >
        <%= @diary.city.try(:current_temperature) %>
      </td>
      <td >

      </td>
    </tr>
    <tr>
      <th class=" col-xs-3">施工进展情况</th>
      <td colspan="3">
        <p class="markdown">
         <%= markdown(@diary.body)%>
        </p>
      </td>
    </tr>
    <tr>
      <th class=" col-xs-3">重要记事</th>
      <td colspan="3">

      </td>
    </tr>
</table>
