<table class="table">
  <tr>
    <th>Juhe ID</th>
    <th>Province</th>
    <th>City</th>
    <th>District</th>
    <th>Temp</th>
    <th>Temperature</th>
    <th>Weather</th>
    <th>Wind</th>
    <th>Date</th>
  </tr>
  <% @cities.each do |city| %>
  <tr>
    <td><%= city.juhe_id %></td>
    <td><%= city.province %></td>
    <td><%= city.city %></td>
    <td><%= city.district %></td>
    <td>
      <%= city.current_temp %>
      <%= link_to "更新温度", update_temp_city_path(city), :method => :post %>
    </td>
    <td>
      <%= city.current_temperature %>
      <%= link_to "更新温度区间", update_temperature_city_path(city), :method => :post %>
    </td>
    <td>
      <%= city.current_weather %>
      <%= link_to "更新天气", update_weather_city_path(city), :method => :post %>
    </td>
    <td>
      <%= city.current_wind %>
      <%= link_to "更新温度区间", update_wind_city_path(city), :method => :post %>
    </td>
    <td>
      <%= city.current_date %>
      <%= link_to "更新日期", update_date_city_path(city), :method => :post %>
    </td>
  </tr>
  <% end %>
</table>
