<%= simple_form_for @category do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, :multiple => true, :class => "form-control" %>
    <% if f.object.images.present? %>
      <label>
        <%= f.check_box :remove_images %> 删除图档
      </label>
      <% f.object.images.each do |i| %>
        <%= link_to i.filename, i.url, :target => "_blank" %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :image, as: :file %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..."}%>
<% end %>
