<div class="col-md-12">
  <h3>微民宿三期项目共7个户型：A1、A2、A3、B1、B2、B3、C1</h3>
  <div class="group">
    <%= link_to("New HouseType", new_category_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>

        <th>HouseType</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>

          <td><%= link_to(category.name, category_path(category)) %></td>
          <td><%= category.description %></td>
          <td>
            <%= link_to("Edit", edit_category_path(category), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", category_path(category), class: "btn btn-sm btn-default",
                        method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
