<div class="col-md-12">
  <td>
    <%= link_to category_path(@category) do %>
      <% if @category.image.present? %>
        <%= image_tag(@category.image.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
      <% end %>
    <% end %>
  </td>
  <h2><%= @category.name %></h2>
  <p><%= @category.description %></p>

  <% @houses.each do |house| %>
    <div class="index_row clearfix">
      <h3 class="col-md-4"><%= link_to(house.title, category_house_path(@category, house)) %></h3>
    </div>
  <% end %>

  <div class="group">
    <%= link_to("New house", new_category_house_path(@category), class: "btn btn-default pull-right") %>
  </div>
  <br>
  <div class="links">
    <%= link_to("Edit", edit_category_path(@category))%> |
    <%= link_to("Delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?"})%>
  </div>
</div>
