<div class="col-md-12">
  <div class="group">
    <%= link_to("New house", new_category_house_path(@category), class: "btn btn-default pull-right") %>
    <%= link_to("Edit", edit_category_path(@category), class: "btn btn-primary pull-right")%>
  </div>
  <td>
    <%= link_to category_path(@category) do %>
      <% if @category.image.present? %>
        <%= image_tag(@category.image.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
      <% end %>
    <% end %>
  </td>
  <h2><%= @category.name %></h2>
  <p><%= @category.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @houses.each do |house| %>
        <tr>
          <td>#</td>
          <td><%= link_to(house.title, category_house_path(house)) %></td>
          <td><%= house.description %></td>
          <td>
              <%= link_to("Edit", edit_category_house_path(house), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", [house.category, house],    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
