<div class="col-xs-12">
  <h2><%= @category.name %></h2>
  <p><%= @category.description %></p>
  <br>
  <div class="row">
    <% if @category.images.present? %>
      <% @category.images.each do |i| %>
        <%= link_to image_tag(i.url(:small)), i.url %>
      <% end %>
    <% end %>
  </div>
  <div class="group">
		<%= link_to("New house", new_category_house_path(@category), class: "btn btn-primary pull-right") %>
	</div>
  <table class="table table-hover">
		<thead>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Description</td>
			</tr>
		</thead>
		<tbody>
			<% @houses.each do |house| %>
				<tr>
					<td><%= house.id %></td>
					<td><%= link_to(house.title, category_house_path(@category, house)) %></td>
					<td><%= house.description %></td>
					<td>
						<%= link_to("Edit", edit_category_house_path(@category, house), class: "btn btn-sm btn-default")%>
						<%= link_to("Delete", category_house_path(@category, house), class:"btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?"})%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
